* {
 box-sizing: border-box;
 background-color: black;
}

a {
 color: inherit;
 text-decoration: none;
}

#myInput {
 background-image: url('/css/searchicon.png');
 background-position: 10px 10px;
 background-repeat: no-repeat;
 width: 100%;
 font-size: 3.5vw;
 padding: 12px 20px 12px 40px;
 border: 1px solid #ddd;
 margin-bottom: 12px;
 color: white;
}

#myTable {
 border-collapse: collapse;
 width: 100%;
 border: 1px solid #ddd;
 font-size: 3.5vw;
 display: none;
 font-weight: 500;
 color: white;

}

#myTable th,
#myTable td {
 text-align: left;
 padding: 12px;
}

#myTable tr {
 border-bottom: 1px solid #ddd;
}

.Box {
 background: white;
 font-size: 3.2vw;
 font-weight: 900;
 color: #3333ff;
 text-decoration: underline;
}

.Title {
 background: white;
 font-size: 4vw;
 font-weight: 900;
 text-align: center;
 color: red;
}

.File {
 color: black;
 Background: white;
 text-decoration: underline;
 text-decoration-color: white;
}

.E {
 color: yellow;
 text-decoration: underline;
 text-decoration-color: black;
}

#Hide {
 Color: White;
 font-size: 5.3vw;
 font-weight: 600;
 position: absolute;
 top: 47vw;
 left: 18vw;
}

#Hide1 {
 Color: White;
 font-size: 4.8vw;
 font-weight: 600;
 position: absolute;
 top: 55vw;
 left: 22vw;
}

#Hide2 {
 color: #111;
 font-family: 'Nosifer', cursive;
 letter-spacing: 0.5vw;
 text-shadow: 0 0 7px #CF000F,
  0 0 10px red;
 font-size: 3.3vw;
 font-weight: 600;
 position: absolute;
 top: 64.3vw;
 left: 28.3vw;
}

#Hide3 {
 Color: White;
 font-size: 4vw;
 font-weight: 600;
 position: absolute;
 top: 72vw;
 left: 4vw;
 text-shadow: 0 0 7px #CF000F,
  0 0 10px red;
}

#Hide4 {
 Color: White;
 font-size: 5vw;
 font-weight: 600;
 position: absolute;
 top: 82vw;
 left: 17vw;
}

#Hide5 {
 color: #111;
 font-family: 'Nosifer', cursive;
 letter-spacing: 0.5vw;
 text-shadow: 0 0 7px #CF000F,
  0 0 10px red;
 font-size: 3.5vw;
 font-weight: 600;
 position: absolute;
 top: 92vw;
 left: 27.5vw;
}